<div class="container">
    <h1>Registrar</h1>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Ingrese Email" name="email" id="email" required><br>

    <label for="pass"><b>Contraseña</b></label>
    <input type="password" placeholder="Ingrese Password" name="pass" id="pass" required><br>

    <label for="pass-repetido"><b>Repita Contraseña</b></label>
    <input type="password" placeholder="Repita Contraseña" name="pass-repetido" id="pass-repetido" required><br>
    <hr>


    <button type="submit" class="producto">Registrar</button>
</div>

<div class="ingresar">
    <p>Ya tienes cuenta? <a href="login">Ingresar</a>.</p>
</div>