<div class="container">
    <div class="row justify-content-md-center">

        <div *ngFor="let item of productosService.productos" class="col-4">
            <div class="form-control" class="thumbnail">
                <img src="{{item.img}}" alt="" width="40%">
                <p>Nombre: {{item.nombre}}</p>
                <p>Descripcion: {{item.descripcion}}</p>
                <p>Precio: {{item.precio}}</p>
                <p>Cantidad: {{item.cantidad}}</p>
                <!--<a href="not-found">Mas informacion</a>-->
                <form (ngSubmit)="restar(item.id)">
                    <!--<input [(ngModel)]="productosService.productos" name="item" type="item">-->
                    <button type="submit" class="btn btn-primary">Comprar</button>
                </form>

            </div>
        </div>

    </div>

</div>
<br>
<br>
<!--
<div class="container">
    <div class="card-block">
        <h3>Lista compra</h3>
        <table class="table table-hover">
            <thead class="thead-default">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item2 of productosService.lista">
                    <td>{{item2.nombre}}</td>
                    <td>{{item2.descripcion}}</td>
                    <td>{{item2.precio}}</td>
                    <td><button (click)="eliminar(item2.id)" type="submit" class="btn btn-primary">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
-->

<!-- Modal componente hijo-->
<!--<app-carro></app-carro>-->
<app-carro [titulo]="Titulo" [detalle]="Detalle" [accion]="Accion" (accionModal)="(capturarVariable($event))"></app-carro>