<div class="container-fluid">


    <!-----------------Productos y caracteristicas--------------------------->
    <h2>Productos</h2>
    <div class="image">
        <img src="assets/img/super.jpg" alt="" width="10%">
        <p>El mejor juego de carreras hasta la fecha</p>
        <p>$59.99</p>
        <a href="notFound" target="">Mas informacion</a>

    </div>

    <br>

    <div class="image">
        <img src="assets/img/mario.jpg" alt="" width="10%">
        <p>Disfruta uno de nuestros mejores productos</p>
        <p>$60</p>
        <a href="notFound" target="">Mas informacion</a>
    </div>


    <br>
</div>