<h2 style="text-align:center">Bienvenido!!</h2>

<article>
    <section id=carrusel>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" width="40%">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/img/fury.png" class="d-block w-40" alt="furro">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/toad.png" class="d-block w-40" alt="caja">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/new.png" class="d-block w-40" alt="u">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    </section>
</article>