<div class="container">
    <div class="card-block">
        <h3>Lista compra</h3>
        <table class="table table-hover">
            <thead class="thead-default">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item2 of productosService.lista">
                    <td>{{item2.nombre}}</td>
                    <td>{{item2.descripcion}}</td>
                    <td>{{item2.precio}}</td>
                    <td><button data-bs-toggle="modal" (click)="eliminar(item2.id)" type="submit" class="btn btn-primary" data-bs-target="#exampleModal">Eliminar</button></td>
                </tr>
            </tbody>
            <a href="formulario" class="btn btn-primary" id="">Pago y envio</a>
        </table>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{detalle}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="enviarDatos()">{{accion}}</button>
            </div>
        </div>
    </div>
</div>