<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <div class="form-control">
                <h3>Login</h3>
                <div class="mb-3">
                    <label fom="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Ingrese email">

                </div>


                <div class="mb-3">
                    <label fom="contrasena" class="form-label">Contrasena</label>
                    <input type="password" class="form-control" id="contrasena" placeholder="Ingrese contrasena">

                </div>

                <a href="producto" class="btn btn-primary" id="">Iniciar sesion</a>
                <a href="registro">Registrar</a>

            </div>
        </div>

    </div>
</div>