<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img class="image" src="assets/img/estrella.png" alt="logoJuego" width=5% />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/home">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="producto" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Productos
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="producto">Juegos</a></li>
                        <li><a class="dropdown-item" href="not-found">Consolas y accesorios</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Desabilitado</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>

                <a href="login" class="btn btn-primary" id="">Login</a>
            </form>
        </div>
    </div>
</nav>